@import "tailwindcss";

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Dark mode styles */
.dark {
	color-scheme: dark;
}

.dark body {
	background-color: rgb(17 24 39);
	color: rgb(243 244 246);
}
